<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>28748669793-vjcmb80tcj2jaugp942l8tbsoicb8bsi.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.28748669793-vjcmb80tcj2jaugp942l8tbsoicb8bsi</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>28748669793-m6i5eem1rv6hilo84ob0iei9f7us0b4s.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAEGieMca7NAWB-UOEyT97ZhQ38PoMNyKs</string>
	<key>GCM_SENDER_ID</key>
	<string>28748669793</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mycompany.mannequin</string>
	<key>PROJECT_ID</key>
	<string>mannequin-f3c77</string>
	<key>STORAGE_BUCKET</key>
	<string>mannequin-f3c77.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:28748669793:ios:7bfbcded6e14e7474a9b20</string>
</dict>
</plist>